<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebForm-Golang</title>
</head>
<body>
    <h1>Web Form</h1>

    <form action="" method="post">
        <label for="name"></label>
        <input type="text" name="name" id="name">
        <br>
        <br>
        <label for="email"></label>
        <input type="email" name="email" id="email">

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>